<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<% @cart.each do |item| %>
  <%= item %>
<% end %>

<form action="<%= products_add_url %>" method="POST">
  <input type="text" name="product" id="product"/>
  <input type="submit" value="submit" id="submit"/>
</form>
